$color-blue_light: #C7F7FF;
$color-blue_med: #89C0C9;
$color-blue_dark: #3a5E63;
$color-brown_light: #C9A689;
$color-brown_dark: #7C593C;
$color-grey_light: #d4d4d4;
$color-grey_dark: #222;
$color-white: #fff;


$breakpoint-sm: 700;
$breakpoint-med: 900;
$breakpoint-lg: 1400;

$padding-default: 2rem 0;


$font-sans-serif: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;

$font-serif: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 